Package: net.tateu.cyrun
Name: cyrun
Depends: firmware (>=11.0), mobilesubstrate, net.tateu.cycriptlistenertweak, Cycript, ldid
Version: 1.0.3
Architecture: iphoneos-arm
Description: Cycript Loader for iOS 11.
Maintainer: tateu (Josh Harris) <tateu@tateu.net>
Author: tateu (Josh Harris) <tateu@tateu.net>
Depiction: http://www.tateu.net/repo/html/?p=cyrun
Section: System
Tag: role::developer
